<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" method="post" action="/<%=file %>/duplicate">
        <button type="submit">Duplicate Document</button>
      </form>
      <form class="inline" method="post" action="/<%= file %>/delete">
        <button type="sumbit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>
  <% if session[:username] %>
    <form action="/users/signout" method="post" class="inline">
    <p class="user_status">Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button></p>
    </form>
  <% else %>
    <form action="/users/signin" method="get">
      <p><button type="submit">Sign In</button></p>
    </form>
  <% end %>
</p>
